* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    font-weight: 400px;
    font-size: 45px;
}

a {
    text-decoration: none;
}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 10px 36px;


}

header {
    background-image: url(./images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

nav ul li button {}

.banner {
    display: flex;
    padding: 0 200px;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.sub-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.section-description {
    margin-bottom: 30px;
    line-height: 30px;
    
}

#second-btn {
    border: 1px solid #FD6E0A;
    background: white;
    color: #FD6E0A;
    margin-left: 20px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about-me {
    background-color: #FFF8F3;
    margin: 130px 0;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {}

.info-title {
    font-weight: 400;
    font-size: 20px;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
}

/* what i do */
.skills-container {
    display: flex;
}
.what-i-do .section-description{
    text-align: center;
    
}

.skill {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-right: 24px;
    padding: 30px;
}
.skill p{
    line-height: 28px;
}
.skill:nth-child(4){
    margin-right: 0;
}
.skill-title{
    margin: 30px 0;
    line-height: 30px;
    font-weight: 600;
}
/* resume sections style */
.resumes{
    display: flex;
    
}
.resume h1{
    margin-top: 160px;
    margin-bottom: 113px;
}
.resume-container{
    margin-bottom: 30px;
}
.resume-container h2{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 700;
    color: #474747;
}
.resume-container h4{
    margin-bottom: 20px;
}
.resume-container p{
    margin-bottom: 20px;
    color: #757575;
}
.resume-container div{
    border-bottom: 1px solid #D1D1D1;
    margin-right: 10px;
}
.resume-container div:nth-child(3){
    border: none;
}
.resume-btn{
    text-align: center;
    margin-bottom: 113px;
}
.resume .section-title{
    margin: 113px 0;
}
/* contact section  */
.contact{
    background: #FFF8F3;
    padding:113px 0;
}
.contact-container{
    display: flex;
    gap: 170px;
    max-width: 1140px;
    margin: 0 auto;
}
.contact .section-title{
    text-align: left;
}
form input{
    padding: 14px 200px 14px 15px;
    margin-bottom: 20px;
    border: 0;
}
form textarea{
    padding: 14px 132px 14px 15px;
    border: 0;
}
.contact p{
    margin-bottom: 20px;
}
.contact a{
    margin-right: 10px;
}



